{% extends "base.html" %} 

{% block title %}Sensors{% endblock %} 

{% block navlist %}
<ul class="navbar-nav ms-4">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Reports</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Sensors</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="bi bi-box-arrow-right"></i>
            Log Out
        </a>
    </li>
</ul>
{% endblock %} 

{% block content %}

{% endblock %}
